<!DOCTYPE html>

<html>
<head>
	<title> Nauge Coding Challenge </title>
</head>

<body>
	<h1> Nauge Networks Coding Challenge </h1>

	<h3> By: Ronaq Virdi </h3>
	
	<button id="prob1"> Go to Problem 1 </button>
	<button id="prob2"> Go to Problem 2 </button>

	<script type="text/javascript">
		document.getElementById("prob1").onclick = function() {
			location.href = "/prob1";
		};
		document.getElementById("prob2").onclick = function() {
			location.href = "/prob2";
		};
	</script>
</body>

</html>